<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Test Suite" parallel="methods" thread-count="2" verbose="1">
    <test name="API Tests">
        <classes>
            <class name="testPart1">
            <methods>
                <include name="runTestPart1" />
                <include name="runTestPart2" />
            </methods>
            </class>
        </classes>
    </test>
</suite>
